* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

.container {
    background-image: url(img/background.mobile.day.1.jpeg);
    background-size: cover;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    z-index: -1;
}

header {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    height: 83px;
    position: relative;
    z-index: 2;
}

.form-container {
    padding: 30px;
    padding-top: 55px;
    width: 384px;
    margin: 3.5rem auto;
    background-color: #fff;
    border-radius: 5px;
}

.input-container {
    margin-bottom: 25px;
}

.label {
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-weight: 400;
    color: #717171;
    display: block;
    margin-bottom: 5px;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.set {
    width: 100%;
    min-height: 32px;
    border: none;
    border-bottom: 0.1rem solid #8c8e90;
    outline: none;
    padding: 5px;
    padding-right: 50px; /* Adjust padding to make space for the button */
}

.set:focus {
    border-bottom: 0.15rem solid #007BFF;
}

.md-button {
    position: absolute;
    right: 5px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    border: none;
    background-color: white;
    color: #0060f0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.md-button:focus,
.md-button:hover {
    background-color: white;
}

.error {
    color: #bf2155; /* Makes text red */
}

.error-border {
    border-bottom: 0.1rem solid red; /* Makes the box border red */
}

.error-container {
    display: none; /* Hides the error message container initially */
    align-items: center;
    margin-top: 5px;
}

.error-message {
    color: #b80009;
    font-size: 0.75rem;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
    margin-left: 5px;
}

.primary {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #6200ea;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.primary:hover {
    background-color: #3700b3;
}

.primary:focus {
    outline: none;
}

.remember {
    margin-top: 27px;
    margin-bottom: 15px;
    margin-left: 8px;
    font-size: 14px;
}

.re {
    padding-right: 90px;
    padding-left: 10px;
    font-size: 14px;
    color: #717171;
    font-weight: 400;
}

.tk {
    padding-left: 10px;
    font-size: 14px;
    color: #717171;
    font-weight: 400;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.primary {
    width: 100%;
    height: 36px;
    border: 1px solid #0060f0;
    border-radius: 5px;
    background-color: #0060f0;
}

.in {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.rw {
    margin-top: 12px;
    font-size: 14px;
    color: #005eb8;
    font-weight: 400;
}

.ow {
    margin-top: 7px;
    font-size: 14px;
    color: #005eb8;
    font-weight: 400;
}

.emg {
    font-size: 18px;
    font-weight: 300;
    height: 90px;
    width: 54px;
}

.anchor {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #126bc5;
    line-height: 1.3rem;
}

footer {
    background-color: white;
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    padding-top: 35px;
    padding-bottom: 25px;
}

.folo {
    font-size: 18px;
    color: #717171;
    padding-top: 7px;
    padding-right: 14px;
}

.fc {
    margin-right: 13px;
}

.divider {
    border-top: 1px solid #ccc;
    margin-left: 100px;
    margin-right: 100px;
    padding: 25px;
}

.lin {
    padding: 9px;
    color: #757575;
}

.hous {
    width: 15px;
    height: 13px;
}

.linki {
    max-width: 1100px;
    line-height: 3.2em;
    font-size: 10.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    flex-flow: row wrap;
}

.fdic {
    padding-right: 12px;
    color: #757575;
}

.lender {
    color: #757575;
}

.Morgan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px auto;
    color: #757575;
    font-size: 10.5px;
    margin-top: -17px;
    padding-bottom: 24px;
}

@media screen and (max-width: 430px) {
    footer {
        background-color: white;
    }
}